---
import Layout from "../layouts/Layout.astro";
import Calendar from "$components/CalendarWidget.svelte";
import { getCollection, getEntry } from "astro:content";

// const banners = await getCollection("events");
---

<Layout title="The Daily Drip">
  <div class="p-4 bg-dark bg-opacity-20 rounded-md">
    <p class="playfair-display-regular text-sm">
      Welcome to <span class="font-bold">The Daily Drip</span>, your place for
      gacha game leaks and speculations
    </p>
  </div>
  <Calendar client:load />
</Layout>
