---
import Layout from "../layouts/Layout.astro";
import CalendarWidget from "$components/CalendarWidget.svelte";
import EventsWidget from "$components/EventsWidget.astro";
import { getCollection, getEntry } from "astro:content";

const eventsCollection = await getCollection("events");

const events = eventsCollection.map((e) => {
  return e.data;
});
---

<Layout title="The Daily Drip">
  <div class="p-4 bg-dark bg-opacity-20 rounded-md">
    <p class="playfair-display-regular text-sm">
      Welcome to <span class="font-bold">The Daily Drip</span>, your place for
      gacha game leaks and speculations
    </p>
  </div>
  <CalendarWidget events={events} client:load />
  <EventsWidget />
</Layout>
