---
import Disclaimer from '$components/Disclaimer.astro'
import Layout from '../layouts/Layout.astro'
import { Version } from '../classes/version.ts'
import Banner from '../components/banner-cards/banner.svelte'
import { getCollection, getEntry } from 'astro:content'
import { getPhase } from '../scripts/specs.ts'
import dayjs from 'dayjs'
import type { Character } from 'src/classes/character'
import { Weapon } from 'src/classes/weapon'
import { tz_starrail } from 'src/scripts/settings'

let game = 'starrail'

const images = {
	backgrounds: import.meta.glob('../assets/backgrounds/starrail/*{.webp,.png}', { eager: true }),
	gachaCards: import.meta.glob('../assets/characters/starrail/*/gachaCard{.webp,.png}', {
		eager: true
	}),
	gachaSplash: import.meta.glob('../assets/characters/starrail/*/gachaSplash{.webp,.png}', {
		eager: true
	}),
	bannerCards: import.meta.glob('../assets/characters/starrail/*/bannerCard{.webp,.png}', {
		eager: true
	}),
	weapons: import.meta.glob('../assets/weapons/*{.webp,.png}', { eager: true }),
	placeHolders: import.meta.glob('../assets/placeholders/starrail/*{.webp,.png}', { eager: true })
}

const collections = {
	game: await getEntry('games', game),
	characters: await getCollection('characters', ({ id }) => {
		return id.startsWith(game)
	}),
	weapons: await getCollection('weapons', ({ id }) => {
		return id.startsWith(game)
	}),
	events: await getCollection('events', ({ id }) => {
		return id.startsWith(game)
	})
}

const versionCollection = await getCollection('versions', ({ id }) => {
	return id.startsWith(game)
})

let versions: Version[] = []

versionCollection.forEach(({ data }) => {
	let v = new Version(data)

	//console.log(v)

	if (dayjs(v.startDate) > dayjs().subtract(3, 'week')) {
		v.phases = [
			getPhase(game, data, 0, collections, tz_starrail),
			getPhase(game, data, 1, collections, tz_starrail)
		]
		versions.push(v)
	}
})
---

<Layout title="The Daily Drip">
	<section class="p-2 flex flex-col items-center gap-4 h-max md:max-w-[1400px]">
		{versions.map((version) => <Banner {version} {game} {images} client:load />)}
	</section>

	<!-- <Banner {version} game="starrail" /> -->
</Layout>
