---
import Layout from "../../layouts/Layout.astro";
import { getCollection, getEntry } from "astro:content";

const issues = (await getCollection("issues")).sort(
  (a, b) =>
    new Date(b.data.publishedDate).getTime() -
    new Date(a.data.publishedDate).getTime()
);
---

<Layout title="Latest Issues | The Daily Drip">
  {
    issues.map((issue) => {
      return (
        <div class="recent">
          <img src={issue.data.image} />
          <h2 class="issue-title">{issue.data.title}</h2>
          <a href={`/issues/${issue.slug}`}>Read More</a>
        </div>
      );
    })
  }
</Layout>

<style lang="scss">
.recent {
  width: 100%;
  img {
    width: 100%;
  }
}
</style>
