<div
	class="p-4 bg-dark bg-opacity-10 text-accent-light text-opacity-45 rounded-md md:col-span-2 h-min"
>
	<p class="crimson-text-semibold text-xs md:text-sm lg:text-base text-center text-balance">
		<slot />
	</p>
</div>
