---
import Event from "./Event.astro";
import dayjs from "dayjs";
import { getCollection } from "astro:content";

const currentEvents = await getCollection("events", ({ data }) => {
  return dayjs(data.startDate) < dayjs() && dayjs(data.endDate) > dayjs();
});

const upcomingEvents = await getCollection("events", ({ data }) => {
  return dayjs(data.startDate) > dayjs();
});
---

<section class="flex flex-col gap-2 w-full">
  <h2 class="playfair-display-semibold text-dark">Current Events</h2>
  {currentEvents.map((event) => <Event {event} />)}
  <h2 class="playfair-display-semibold text-dark">Upcoming Events</h2>
  {upcomingEvents.map((event) => <Event {event} />)}
</section>
