---
import { Character } from "../classes/character";
interface Props {
  characters: Array<Character>;
  weapons: Array<String>;
}

const { characters, weapons } = Astro.props;
---

<div class="phase-rate-ups">
  <div class="divider"></div>
  <h3>Featured 4 Stars</h3>
  {
    Array.from({ length: 3 }, (_, i) => {
      if (characters[i]) {
        return (
          <div
            class={`character`}
            style={`background: var(--${characters[i].element ? characters[i].element : "default"});`}
          >
            {characters[i].name}
          </div>
        );
      } else {
        return <div class="character" style={`background: var(--default);`}>????</div>;
      }
    })
  }
  <div class="divider"></div>
  <h3>Rate Up Weapons</h3>
  <p>
    {
      Array.from({ length: 5 }, (_, i) => {
        let dot = "";
        if (i < 4) {
          dot = " â¦ ";
        }
        if (weapons[i]) {
          return weapons[i] + dot;
        } else {
          return "?????" + dot;
        }
      })
    }
  </p>
  <div class="divider"></div>
</div>

<style lang="scss">
  :root {
    --wind: #396C69;
    --quantum: #413776;
    --physical: #484A52;
    --ice: #496D81;
    --lightning: #692E70;
    --fire: #74322A;
    --imaginary: #87773B;
    --hydro: #21458D;
    --cryo: #2B6C88;
    --anemo: #26817E;
    --dendro: #48913F;
    --geo: #6B5526;
    --pyro: #813326;
    --electro: #8749B3;
    --default: #474747;
}
  .phase-rate-ups {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    width: 100%;

    h3 {
      font-size: clamp(0.8rem, 2.4vw, 1.2rem);
    }

    p {
      font-size: 1rem;
      @media only screen and (max-width: 675px) {
        font-size: 0.75rem;
      }
    }
    .divider {
      height: 1px;
      align-self: stretch;
      background: black;
    }
    .character {
      display: flex;
      padding: 4px;
      font-size: 1rem;
      align-items: flex-start;
      gap: 10px;
      align-self: stretch;
      color: #fff;
      @media only screen and (max-width: 675px) {
        font-size: 0.75rem;
      }
    }
  }
</style>
