---
import { Character } from "../classes/character";
interface Props {
  characters: Array<Character>;
  weapons: Array<String>;
}

const { characters, weapons } = Astro.props;
---

<div class="phase-rate-ups">
  <div class="divider"></div>
  <h3>Featured 4 Stars</h3>
  {
    Array.from({ length: 3 }, (_, i) => {
      if (characters[i]) {
        return (
          <div class={`character ${characters[i].element}`}>
            {characters[i].name}
          </div>
        );
      } else {
        return <div class="character genshin">????</div>;
      }
    })
  }
  <div class="divider"></div>
  <h3>Rate Up Weapons</h3>
  <p>
    {
      Array.from({ length: 5 }, (_, i) => {
        let dot = "";
        if (i < 4) {
          dot = " â¦ ";
        }
        if (weapons[i]) {
          return weapons[i] + dot;
        } else {
          return "?????" + dot;
        }
      })
    }
  </p>
  <div class="divider"></div>
</div>

<style>
  .phase-rate-ups {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    width: 100%;

    h3 {
      font-size: clamp(0.8rem, 2.4vw, 1.2rem);
    }

    p {
      font-size: 1rem;
      @media only screen and (max-width: 675px) {
        font-size: 0.75rem;
      }
    }
    .divider {
      height: 1px;
      align-self: stretch;
      background: black;
    }
    .character {
      display: flex;
      padding: 4px;
      font-size: 1rem;
      align-items: flex-start;
      gap: 10px;
      align-self: stretch;
      background: #c2c2c2;
      @media only screen and (max-width: 675px) {
        font-size: 0.75rem;
      }

      &.lightning {
        background: #b930e2;
        color: white;
      }

      &.ice {
        background: #afd1dc;
      }

      &.wind {
        background: #90f57e;
      }

      &.imaginary {
        background: #dcd770;
      }

      &.physical {
        background: #b3b3b3;
      }

      &.quantum {
        background: #6a6690;
        color: white;
      }

      &.fire {
        background: #dc7070;
      }

      &.electro {
        background: #aa95b4;
      }

      &.pyro {
        background: #b99898;
      }

      &.dendro {
        background: #aec498;
      }

      &.cryo {
        background: #bfdddd;
      }

      &.geo {
        background: #beb574;
      }

      &.hydro {
        background: #b0bfe7;
      }

      &.anemo {
        background: #a3e9c5;
      }
    }
  }
</style>
