---
interface Props {
  number: number;
  date: Date;
}
const today = new Date("2023-10-12");
const { number, date } = Astro.props;
const theme = number % 2 == 0 ? "dark" : "light";
const disable = date < today ? "disabled" : "";
---

<div class=`phase ${disable}`>
  <div class=`phase-header ${theme}`>
    <h2>Phase {number}</h2>
    <p>
      {
        date.toLocaleDateString("en-US", {
          hour: "numeric",
          month: "long",
          day: "numeric",
          timeZone: "America/New_York",
        })
      }
    </p>
  </div>

  <div class="banners">
    <slot />
  </div>
</div>

<style lang="scss">
  .phase {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: stretch;
    gap: 12px;

    &.disabled {
      filter: saturate(0);
    }
    .phase-header {
      display: flex;
      height: max-content;
      padding: 12px;
      border: 1px solid #000;
      background: #c2c2c2;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;

      &.dark {
        background: #232323;
        h2,
        p {
          color: white;
        }
      }
      h2 {
        color: #000;
        font-family: "Playfair Display";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      p {
        color: #000;
        text-align: center;
        font-family: "Times New Roman";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
      }
    }

    .banners {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }
  }
</style>
