<section
	id="settings"
	class={`hidden absolute z-50 w-full h-full bg-dark bg-opacity-35 items-center justify-center`}
>
	<div>
		<h2 class="playfair-display-sc-bold text-xl">Setting</h2>
	</div>
</section>
