---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <div class="header">
        <p id="volume">Volume No. 5</p>
        <p id="date">December 22nd 2023</p>
      </div>
      <h1>The Daily Drip</h1>
      <nav>
        <a href="/">home</a>
        <a href="/genshin">genshin</a>
        <a href="/starrail">star rail</a>
      </nav>
      <slot />
    </main>
  </body>
</html>
<style is:global lang="scss">
  @import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");

  * {
    margin: 0;
    padding: 0;
  }
  :root {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
  }

  :root {
    --wind: #396c69;
    --quantum: #413776;
    --physical: #484a52;
    --ice: #496d81;
    --lightning: #692e70;
    --fire: #74322a;
    --imaginary: #87773b;
    --hydro: #21458d;
    --cryo: #2b6c88;
    --anemo: #26817e;
    --dendro: #48913f;
    --geo: #6b5526;
    --pyro: #813326;
    --electro: #8749b3;
    --default: #474747;
  }

  html {
    font-family: system-ui, sans-serif;
    background: #8f8f8f;
    background-size: 224px;
    display: flex;
    justify-content: center;
    padding: 4vw;
  }

  body {
    width: 1019px;
  }

  main {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    background: #d1d1d1;
    box-shadow: 2px 3px 18px 0px rgba(0, 0, 0, 0.2);

    .header {
      width: 100%;
      display: flex;
      padding-block: 0.7rem;
      justify-content: space-between;
      font-family: "Playfair Display";
      font-weight: 700;
      line-height: 120%;
      border-block: 1px solid grey;
    }

    h1 {
      font-family: "Playfair Display SC";
      text-align: center;
      width: 100%;
      font-size: clamp(2rem, 12vw - 1.1rem, 7.5rem);
      line-height: 100%;
      margin-block: 1vs;
    }

    nav {
      background: #222;
      display: inline-flex;
      padding: 10px;
      justify-content: center;
      align-self: stretch;
      align-items: flex-start;
      gap: 48px;
      a {
        color: #fff;
        text-align: center;
        font-family: "Playfair Display SC";
        text-decoration: none;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
